<div class="row full-height">
	<div ng-controller="loginCtrl" class="col-xs-12 full-height">
		<div class="info-box">
			<div class="auth-type">LOGIN</div>
			<div class="header">LOG IN INTO YOUR ACCOUNT</div>
			<form novalidate name="loginForm">
					<div><input type="text" name="login" class="form-input" ng-model="login" placeholder="LOGIN" hc-validation-pattern="TEXT"/></div>
					<div><input type="text" name="password" class="form-input" ng-model="password" placeholder="PASSWORD"/></div>
					<button class="button" ng-click="logg(login, password)">LOGIN</button>

			</form>
		</div>
		<p ng-bind="loginMessage"></p>
		<button class="button" ng-click="showNotification()">komunikat</button>
	</div>
</div>
