.tile-container {
	width: 100%;
	min-height: 235px;
	background-color: #275482;
	.background-alpha(#275482, 0.9);
	.border-radius(5px);
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;

	.creature-avatar {
		position: absolute;
		overflow: hidden;
		right: 0;
		top: 0;
		padding: 10px;

		img {
			width: 50%;
			height: 50%;
			float: right;
		}
	}

	.tile-header {
		font-size: 14px;
		color: white;
	  	min-height: 80px;
		padding: 30px 65px 10px 30px;
	}

	.tile-subtitle {
		color: #1792cd;
		font-size: 12px;
		padding: 0 0 0 35px;
	  	min-height: 35px;
	}

  	.additional-actions {
	  	color: white;
	  	font-size: 12px;
	  	padding-bottom: 10px;
	  	padding-top: 10px;
		background-color: rgba(31,69,109,0.7);
	  	.box-shadow(inset 0px 8px 34px -17px rgba(4,26,55,0.72));
		position: relative;

		.up-button {
		  width: 40px;
		  height: 40px;
		  margin-top: 20px;
		  .border-radius(50%);
		  border: solid 2px white;
		  .flex-display();
		  cursor: pointer;

		  .icon{
			margin: auto;
			font-size: 20px;
			color: white;

		  }
		}

		.date-picker {
		  .flex-display();
		  .justify-content(center);
		  height: 100px;

		  .form-input {
			text-align: center;
		  }
		}

	  	.overlay {
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  opacity: 0.7;
		  background-color: rgba(31, 69, 109, 1);
		}
	}

	.tile-content {
		text-align: center;
	  	.flex-display();
	  	.flex-direction(row);
	  	.justify-content(space-around);
	  	.flex-wrap(wrap);

		.tile-section {
			margin-top: 30px;
		  	margin-bottom: 20px;
			/*display: inline-block;*/
			height: 60px;
			width: 75px;
			border-right: 3px dotted #234d78;
			text-align: center;

			&:last-child {
				border-right: none;
			}
		}

		.label {
			white-space: normal;
			color: #96abc0;
			font-size: 11px;
			word-wrap: break-word;
			text-align: center;
			display: inline-block;
			vertical-align: top;
		}

		.value {
			color: #1792cd;
			font-size: 14px;
			font-weight: 600;
		}
	}

	.action-buttons {
		background-color: #1c456e;
		
		width: 100%;
		.border-radius(0 0 5px 5px);
		border-spacing: 1px;
		font-size: 0;
		display: table;
		min-height: 30px;
		position: absolute;
		bottom: 0;
	}

	.tile-button {
		text-align: center;
		
		display: table-cell;
		vertical-align: middle;
		height: auto;
		width: 50%;
		font-size: 12px;
		
		background-color: #224d79;
		.border-radius(0 0 5px 5px);
		cursor: pointer;
		color: #96abc0;

		&:hover {
			color: white;
		}
	}
}