.tile-container {
	width: 310px;
	min-height: 100px;
	background-color: #26527e;
	.border-radius(5px);
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;

	.creature-avatar {
		position: absolute;
		overflow: hidden;
		right: 0;
		top: 0;
		padding: 10px;

		img {
			width: 50%;
			height: 50%;
			float: right;
		}
	}

	.tile-header {
		font-size: 14px;
		color: white;
		padding: 30px 0 10px 30px;
	}

	.tile-subtitle {
		color: #1792cd;
		font-size: 12px;
		padding: 0 0 0 35px;
	}

	.tile-content {
		margin-bottom: 40px;
		text-align: center;

		.tile-section {
			margin-top: 30px;
			display: inline-block;
			height: 60px;
			width: 100px;
			border-right: 3px dotted #234d78;
		}

		.label {
			white-space: normal;
			color: #96abc0;
			font-size: 11px;
			text-align: center;
			display: inline-block;
			vertical-align: top;
		}

		.value {
			color: #1792cd;
			font-size: 14px;
		}
	}

	.action-buttons {
		background-color: #194068;
		width: 100%;
		.border-radius(0 0 5px 5px);
		border-spacing: 1px;
		font-size: 0;
		display: table;
		min-height: 30px;
		position: absolute;
		bottom: 0;
	}

	.tile-button {
		text-align: center;
		
		display: table-cell;
		vertical-align: middle;
		height: auto;
		width: 50%;
		font-size: 12px;
		
		background-color: #214b76;
		.border-radius(0 0 5px 5px);
		cursor: pointer;
		color: #3c6795;

		&:hover {
			color: white;
		}
	}
}