.hc-pie-chart {
  
  .main-circle {
    border-radius: 50%;
    .box-shadow(-4px 6px 53px -6px rgba(0,0,0,0.75));

  }

  .inner-circle {
	fill: rgb(39, 84, 130);
  }

  .slice {
	stroke: rgb(39, 84, 130);
  }

  .slice:first-child {
	fill: #64b4e5;
  }

  .slice:nth-child(2) {
	fill: #295a78;
  }

  .slice:nth-child(3) {
	fill: #2e6490;
  }

  .slice:nth-child(4) {
	fill: #3c83c5;
  }

  .chart-label {
    font-size: 1em;
    stroke: none;
  }

  /*.stop-left {
	stop-color: #f1ab62;
  }

  .stop-center-left {
	stop-color: #f1ab62;
  }

  .stop-right {
	stop-color: #efa250;
  }

  .stop-center-right {
	stop-color: #efa250;
  }

  .filled {
	fill: url(#mainGradient);
  }*/

}