.user-hero-tile {
  .background {
	fill-opacity: 0;
  }
  .component {
	fill: #fff;
  }
  .arcs {
	fill: #f00;
  }
  .inner-arc {
	fill: #4e8fff;
  }
  .outer-arc {
	fill: #129fdd;
  }
  .radial-svg {
	display: block;
	margin: 0 auto;
  }

  .radial-svg {
	width: 150px;
	margin-top: 30px;
  }

  .summary-battles {
	position: absolute;
	bottom: 80px;
	width: 140px;

  }

  .hero-name, .hero-lvl {
	font-size: 16px;
	line-height: 25px;
  }
}