@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?77767161');
  src: url('../font/fontello.eot?77767161#iefix') format('embedded-opentype'),
       url('../font/fontello.svg?77767161#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('data:application/octet-stream;base64,d09GRgABAAAAAApQAA4AAAAAEoAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAEQAAABWPeFI6WNtYXAAAAGIAAAAOAAAAUrQERm3Y3Z0IAAAAcAAAAAKAAAACgAAAABmcGdtAAABzAAABZQAAAtwiJCQW