
.icon-circle:before { content: '\e800'; } /* '' */
.icon-error:before { content: '\e801'; } /* '' */
.icon-success:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-ok-1:before { content: '\e809'; } /* '' */