<div ng-controller="AppCtrl" class="main-container full-height container-view full-height" ng-class="{'menu-opened': $root.opened}" ng-swipe-right="$root.opened=true" ng-swipe-left="$root.opened=false" hide-menu="$root.opened">
    <!-- <div class="header">
        <button class="menu-toggle" ng-click="$root.opened=!$root.opened"><i class="icon-menu"></i>
        </button>
    </div> -->
    <i class="icon-menu" ng-click="btnClick=!btnClick" ng-class="{opened: btnClick}"></i>
    <nav class="menu col-md-2 col-sm-3 col-lg-2 full-height" ng-class="{opened: btnClick}">
        <ul>
            <li class="menu-element" ng-repeat="state in states" ui-sref="{{state.reference}}" ui-sref-active="active">   
                <span class="title">{{state.name}}</span><i class="icon icon-circle"></i>
            </li>
        </ul>
        <button class="menu-button" ng-if="showLogout" ng-click="logout()">Logout</button>
    </nav>

    <div class="content full-height" ng-class="{'col-xs-7 col-sm-6 col-md-6': stateParams.newsVisible, 'col-xs-12 col-sm-9 col-lg-10': !stateParams.newsVisible}">
        <div ui-view class="enter-animation container-fluid full-height scrollable"></div>
    </div>
    <div class="news container-fluid col-xs-5 col-sm-3 col-md-4 full-height" ng-if="stateParams.newsVisible">
        <div class="row">
            <div class="col-xs-6 left-element">
                <div class="time">7:54</div>
                <div>
                    <i class="icon-circle"></i>
                    <div class="person">NIRUN BRIENDUS</div>
                </div>

                <div class="creature">RENEGAT BAULUS</div>
                <div class="details">ZOSTAL POKONANY PRZEZ: SZOPEN, ZIUTEK</div>
            </div>
            <div class="col-xs-6 right-element">
                <div class="time">7:54</div>
                <div>
                    <i class="icon-circle"></i>
                    <div class="person">NIRUN BRIENDUS</div>
                </div>
                <div class="creature">RENEGAT BAULUS</div>
                <div class="details">ZOSTAL POKONANY PRZEZ: SZOPEN, ZIUTEK</div>
            </div>
        </div>
        <div class="left-element">
            
        </div>
    </div>
</div>
