.common-list {
    .box-shadow(-4px -5px 13px -1px rgba(0,0,0,0.2));
    margin-bottom: 20px;

    .list-header {
        color: #129fdd;
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding: 20px;
        background-color: #204d7b;
    }

    .list-element {
        height: 50px;
        padding-left: 5px;
        margin-top: 1px;
        background-color: rgba(39, 84, 130, 0.9);

        i {
            font-size: 20px;
            text-align: center;
        }
    }

    .list-element:nth-child(odd) {
        background-color: rgba(39, 84, 130, 0.8);

    }
    .list-legend {
        height: 50px;
        text-transform: uppercase;
        font-size: 15px;
        padding-left: 5px;
        background-color: #204d7b;
        color: #b9d5ee;
    }

    .col-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}