.filter-box {
	.border-radius(5px);
	width: 100%;
	background-color: #26527e;
	.background-alpha(#26527e, 0.9);
	min-height: 160px;
	display: inline-block;
	/*margin-right: 10px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	font-size: 12px;
	padding: 10px 0 10px 0;
	position: relative;

	.filter-header {
		font-size: 14px;
		color: white;
		text-align: center;
	}

	rzslider {
		margin-top: 13px;
	}

	.rz-pointer {
		width: 14px;
		height: 14px;
		top: -4px;
		border-radius: 7px;
		background-color: #12aaeb;

		&:after {
			display: none;
		}
	}

	.rz-bubble {
		background-color: #12aaeb;
		font-size: 12px;
		color: white;
		border-radius: 4px;
		width: 26px;
		text-align: center;

		&.rz-limit {
			display: none;
		}

		&:after {
			position: absolute;
			left: 5px;
			bottom: 0;
			top: 17px;
			content: ' ';
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #12aaeb;
		}
	}

	.rz-bar {
		background-color: #3b6897;
		height: 6px;

		&.rz-selection {
			background-color: #12aaeb;
		}
	}
}

.query-container {
	min-height: 160px;
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;

	.query-box {
		width: 100%;
		min-height: 75px;
		.border-radius(5px);
		background-color: #26527e;
		.background-alpha(#26527e, 0.9);
		float: left;
		padding: 10px;
		margin-bottom: 10px;
		font-size: 12px;
		text-transform: uppercase;

		header {
			text-align: center;
			padding-top: 3px;
			font-size: 14px;
			/*color: #12aaeb;*/
			color: white;
			margin-bottom: 5px;
		}

		.input-holder {
			width: 94%;
			height: 30px;
			margin-top: 10px;
			margin-left: 10px;
			position: relative;

			input {
				width: 84%;
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}

			.icon-container {
				height: 100%;
				width: 16%;
				float: right;
				background: #3b6897;
				padding-top: 5px;

				i {
					color: white;
					background-color: #3b6897
				}
			}
		}

		
	}
}
@media only screen and (max-width: 780px) {

}
