.form-checkbox {
	display: inline-block;
	position: relative;
	cursor: pointer;

	label {
	  width: 20px;
	  height: 20px;
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  .translateY(-50%);
	  left: 0;
	  background: #5682b2;
	  .border-radius(4px);
	  
	  &:after {
		content: '';
		width: 9px;
		height: 5px;
		position: absolute;
		top: 6px;
		left: 6px;
		border: 3px solid white;
		border-top: none;
		border-right: none;
		opacity: 0;
		.rotate(-45deg);
	  }
	  &:hover::after {
		opacity: 0.3;
	  }
  	}
	input[type=checkbox] {
	  visibility: hidden;
	  margin-left: 5px;
	  margin-right: 5px;
	  float: left;
	  position: absolute;
	  top: 50%;
	  .translateY(-50%);
	  left: 0;
	  &:checked + label:after {
		opacity: 1;
	  }
	}

}

.checkbox-label {
  color: #96abc0;
  font-size: 12px;
  padding-left: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.input-container {
	margin: 0 auto 20px auto;
}

.error-container {
	margin-top: 5px;
	color: #d9534f;
  	text-transform: uppercase;
}

.form-input {
    -webkit-appearance: none;
    .border-radius(3px);
    border: 0;
    background-color: #3b6897;
    height: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    line-height: 30px;
    color: white;

	.placeholder({
	    color: #fff;
		font-size: 12px;
	});

    &:focus{
	    outline: 0;
	}

	&.ng-dirty.ng-invalid {
		background-color: #d9534f;
		border: solid 1px red;
	}
}