.news {
	color: white;

	.left-element, .right-element {
		position: relative;

		i {
			position: absolute;
			color: #12aeef;
			font-size: 12px;
		}

		.time {
			font-size: 11px;
			font-style: bold;
			text-transform: uppercase;
		}

		.person {
			color: #12aeef;
			font-size: 12px;
			text-transform: uppercase;
		}

		.creature {
			font-size: 16px;
			text-transform: uppercase;
			margin-top: 7px;
			margin-bottom: 15px;
		}

		.details {
			color: #b9d5ee;
			font-size: 12px;
		}
	}

	.left-element {
		height: 100px;
		padding-right: 25px;
		text-align: right;
		z-index: 7;

		i {
			right: -10px;
		}
	}

	.right-element {
		height: 200px;
		padding-top: 100px;
		padding-left: 25px;
		text-align: left;
		border-left: solid 3px #1d4975;

		i {
			left: -10px;
		}
	}

}