.profile {
  .avatar-box, .about-box {
	background-color: rgba(39, 84, 130, 0.9);
	.border-radius(5px);
	padding: 25px;
	margin-top: 20px;
	opacity: 0.9;
	min-height: 270px;
	.box-shadow(-4px -5px 13px -1px rgba(0,0,0,0.2));
  }

  .avatar-box {
	padding: 0;

	.multiple-avatars {
	  width: 150px;
	  margin-right: 60px;
	}

	.avatar {
	  font-size: 16px;

	  color: white;
	  position: relative;

	  img {
		width: 150px;
		height: 150px;
		.border-radius(50%);
		border: solid 1px #129fdd;
		margin-bottom: 10px;
	  }

	  .name, .role {
		width: 150px;
		text-align: center;
	  }

	  .guest-avatar {
		position: absolute;
		width: 90px;
		right: -60px;
		top: -20px;
		z-index: -1;
		word-wrap: break-word;
		cursor: pointer;

		img {
		  width: 90px;
		  height: 90px;
		  display: block;
		}
		.name {
		  padding-left: 35px;
		  width: 100%;
		  text-align: left;
		}
	  }
	}


  }

  .property-section {
	.flex-display;
	margin-top: 10px;

	.property {
	  margin-right: 20px;
	}

	.section-label {
	  font-weight: bold;
	  margin-bottom: 5px;
	  min-height: 45px;
	  color: #b9d5ee;
	}

	.section-value {
	  padding-left: 10px;
	  color: white;
	}
  }

  hr {
	border-top: dotted 3px #234d78;
  }

  .favorites-creatures, .favorite-time {
	height: 350px;
	background-color: rgba(39, 84, 130, 0.9);
	padding: 25px 10px 0 25px;
	.border-radius(5px);
	margin-top: 20px;
  }

  .favorite-time {
	.box-shadow(-4px -5px 13px -1px rgba(0, 0, 0, 0.2));
	.hc-pie-chart {
	  height: 230px;
	  .flex-display();

	  svg {
		margin: auto;
	  }
	}
  }

  .favorites-creatures {
	.box-shadow(-4px -5px 13px -1px rgba(0, 0, 0, 0.2));
	.hc-stripe-chart {
	  height: 250px;
	}
  }

  .user-heroes {
	margin-top: 20px;

	header {
	  font-size: 18px;
	  color: white;
	  margin-top: 20px;
	  margin-bottom: 20px;
	  text-transform: uppercase;
	  margin-left: 15px;
	}

	.user-hero-tile {
	  text-align: center;
	  color: white;
	  margin-bottom: 20px;
	  background-color: rgba(39, 84, 130, 0.9);
	  .box-shadow(-4px -5px 13px -1px rgba(0, 0, 0, 0.2));
	  .border-radius(5px);
	  padding: 20px;
	}

	.user-charts {
	  .flex-display();
	  .justify-content(flex-start);
	  .flex-flow(row wrap);
	}
  }
}