<div class="hc-time-picker">
    <form name="hc-time-picker-form" class="full-height row no-gutters">
        <div class="col-xs-5 full-height column">

                <div class="indicator" ng-click="incrementHour()">
                    <i class="icon icon-up"></i>
                </div>
                <input type="text" hc-validation-pattern="NUMBER" class="form-input hour" ng-model="hour"></input>
                <div class="indicator" ng-click="decrementHour()">
                    <i class="icon icon-down"></i>
                </div>

        </div>
        <div class="col-xs-2 full-height separator column">
            :
        </div>
        <div class="col-xs-5 full-height column">

                <div class="indicator" ng-click="incrementMinutes()">
                    <i class="icon icon-up"></i>
                </div>
                <input type="text" hc-validation-pattern="NUMBER" class="form-input minutes" ng-model="minutes"></input>
                <div class="indicator" ng-click="decrementMinutes()">
                    <i class="icon icon-down"></i>
                </div>

        </div>
    </form>
</div>