<section class="settings-section contact">
    <header class="section-header">
                            <span class="description">
                                <h2>_(modules.settings)</h2>
                                <h1>_(settings.avatar)</h1>
                            </span>

        <button class="button" ng-click="editAvatar = true" ng-show="!editAvatar">
            _(settings.actions.change)
        </button>

    </header>
    <hr/>
    <div class="container-fluid row">
        <div class="col-xs-12 current-avatar" ng-class="{'col-xs-6': editAvatar}">
            <div class="avatar-header" ng-show="editAvatar">_(settings.avatar.current)</div>
            <img class="avatar-img" ng-src="{{model.personalData.avatar || defaultAvatarLink}}">
            <div class="avatar-label" ng-bind="model.personalData.name"></div>
        </div>
        <div class="col-xs-6" ng-show="editAvatar">
            <div class="avatar-header" ng-show="loadedImg">_(settings.avatar.new)</div>
            <div class="crop-area" ng-show="loadedImg">
                <img-crop image="loadedImg" result-image="croppedImg"
                          area-type="circle" ngf-accept="'image/*'"
                          result-image-size="450" class="image-preview">
                </img-crop>
            </div>

            <div class="drop-box drop-box-container" ng-show="!loadedImg" ngf-drag-over-class="drop-box-dragover" ngf-change="readFileImg($files)" ngf-drop="" ngf-select="" ng-model="files" ngf-multiple="false" ngf-allow-dir="false" accept="image/*">
                <div class="drop-box-label">_(settings.avatar.help)</div>
            </div>
        </div>
    </div>
    <div class="row button-group" ng-show="editAvatar">
        <button class="button accept" ng-disabled="!croppedImg" ng-click="uploadAvatar()">_(settings.avatar.actions.change)</button>
        <button class="button cancel" ng-click="cancelUploadAvatar()">_(settings.actions.cancel)</button>
    </div>
</section>
<div class="splash-container avatar-overlay" ng-show="showAvatarOverlay">
    <div class="splash"></div>
</div>