<section class="settings-section contact">
    <form novalidate name="contactSettingsForm">
        <header class="section-header">
            <div class="description">
                <h2>settings</h2>
                <h1>Contact</h1>
            </div>
            <button class="button" ng-click="changeContactSettings()" ng-show="!editContactSettings"">
            Edit settings
            </button>
        </header>
        <hr/>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="property col-xs-6">
                        <div class="section-label">Name</div>
                        <div class="section-value" ng-bind="model.personalData.name" ng-show="!editContactSettings"></div>
                        <div class="input-container" ng-show="editContactSettings">
                            <input type="text" name="name" class="form-input" ng-model="model.personalData.name" placeholder="NEW NAME"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-lg-6">
                <div class="property-section container-fluid row">
                    <div class="property">
                        <div class="section-label">Phone number</div>
                        <div class="section-value" ng-bind="model.personalData.phone" ng-show="!editContactSettings"></div>
                        <div class="input-container" ng-show="editContactSettings">
                            <input type="text" name="name" class="form-input" ng-model="model.personalData.phone" placeholder="NEW PHONE"/>
                        </div>
                    </div>
                    <div class="property-switcher" >
                        <div class="section-label">Show phone number on profile</div>
                        <i class="icon-ok" ng-show="model.personalData.phoneVisible && !editContactSettings"></i>
                        <i class="icon-cancel" ng-show="!model.personalData.phoneVisible && !editContactSettings"></i>
                        <div class="form-checkbox" ng-show="editContactSettings">
                            <input type="checkbox" id="common-checkbox-show-phone" value="None" ng-model="model.personalData.phoneVisible" parse-int="" ng-true-value="1" ng-false-value="0"/>
                            <label for="common-checkbox-show-phone"></label>
                            <span class="checkbox-label"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-lg-6">
                <div class="container-fluid row">
                    <div class="property-section">
                        <div class="property">
                            <div class="section-label">GG number</div>
                            <div class="section-value" ng-bind="model.personalData.gg" ng-show="!editContactSettings"></div>
                            <div class="input-container" ng-show="editContactSettings">
                                <input type="text" name="name" class="form-input" ng-model="model.personalData.gg" placeholder="NEW GG"/>
                            </div>

                        </div>
                        <div class="property-switcher">

                            <div class="section-label">Show GG on profile</div>
                            <i class="icon-ok" ng-show="model.personalData.ggVisible && !editContactSettings"></i>
                            <i class="icon-cancel" ng-show="!model.personalData.ggVisible && !editContactSettings"></i>
                            <div class="form-checkbox" ng-show="editContactSettings">
                                <input type="checkbox" id="common-checkbox-show-gg" value="None" ng-model="model.personalData.ggVisible" parse-int="" ng-true-value="1" ng-false-value="0"/>
                                <label for="common-checkbox-show-gg"></label>
                                <span class="checkbox-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="editContactSettings">
            <div class="button-group col-xs-12">
                <button class="button accept" ng-click="applyContactSettings()">Change</button>
                <button class="button cancel" ng-click="cancelContactSettings()">Cancel</button>
            </div>
        </div>
    </form>
</section>