<section class="settings-section email">
    <header class="section-header">
        <span class="description">
            <h2>_(modules.settings)</h2>
            <h1>_(settings.email)</h1>
        </span>
        <button class="button" ng-click="editEmailSettings = true" ng-show="!editEmailSettings">_(settings.actions.change)</button>
    </header>
    <hr/>
    <div class="container-fluid row">
        <div class="property">
            <div ng-show="!editEmailSettings">
                <div class="section-label">_(settings.email.address)</div>
                <div class="section-value" ng-bind="model.personalData.email"></div>
            </div>
            <form novalidate name="changeEmailForm" ng-if="editEmailSettings">
                <div class="input-container">
                    <input type="text" name="oldEmail" class="form-input" ng-model="emailModel.oldEmail" placeholder="_(settings.changeEmail.oldEmail)" hc-equal="model.personalData.email" ng-required="true" hc-validation-pattern="EMAIL"/>
                    <div class="error-container" ng-messages="changeEmailForm.oldEmail.$error" ng-show="changeEmailForm.oldEmail.$dirty">
                        <span ng-message="required">_(validation.required)</span>
                        <span ng-message="hcValidationPattern.EMAIL">_(validation.email.format)</span>
                        <span ng-message="hcValidationPattern.EMAIL_CHARS">_(validation.email.chars)</span>
                        <span ng-message="hcEqual">_(settings.changeEmail.validation.equalTo.oldEmail)</span>
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" name="newEmail" class="form-input" ng-model="emailModel.newEmail" placeholder="_(settings.changeEmail.newEmail)" hc-not-equal="emailModel.oldEmail" ng-required="true" hc-validation-pattern="EMAIL"/>
                    <div class="error-container" ng-messages="changeEmailForm.newEmail.$error" ng-show="changeEmailForm.newEmail.$dirty">
                        <span ng-message="required">_(validation.required)</span>
                        <span ng-message="hcValidationPattern.EMAIL">_(validation.email.format)</span>
                        <span ng-message="hcValidationPattern.EMAIL_CHARS">_(validation.email.chars)</span>
                        <span ng-message="hcNotEqual">_(settings.changeEmail.validation.notEqualTo.previousEmail)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="button-group col-xs-12">
                        <button class="button accept" ng-click="changeEmail(emailModel)" ng-disabled="!changeEmailForm.$valid">_(settings.actions.change)</button>
                        <button class="button cancel" ng-click="cancelChangeEmail()">_(settings.actions.cancel)</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
<div class="splash-container email-overlay" ng-show="showEmailOverlay">
    <div class="splash"></div>
</div>