<section class="settings-section password">
    <header class="section-header">
        <span class="description">
            <h2>settings</h2>
            <h1>Password</h1>
        </span>
        <button class="button" ng-click="editPasswordSettings = true" ng-show="!editPasswordSettings">Change</button>
    </header>
    <hr/>
    <div class="container-fluid row">
        <div class="property">
            <form novalidate name="changePasswordForm" ng-if="editPasswordSettings">
                <div class="input-container">
                    <input type="text" name="oldPassword" class="form-input" ng-model="passwordModel.oldPassword" placeholder="OLD PASSWORD" ng-required="true"/>
                    <div class="error-container" ng-messages="changePasswordForm.oldPassword.$error" ng-show="changePasswordForm.oldPassword.$dirty">
                        <span ng-message="required">Fill in the field.</span>
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" name="newPassword" class="form-input" ng-model="passwordModel.newPassword" placeholder="NEW PASSWORD" hc-not-equal="passwordModel.oldPassword" ng-required="true"/>
                    <div class="error-container" ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.newPassword.$dirty">
                        <span ng-message="required">Fill in the field.</span>
                        <span ng-message="hcNotEqual">New password can't be the same as old</span>
                    </div>
                </div>
                <div class="row">
                    <div class="button-group col-xs-12">
                        <button class="button accept" ng-click="changePassword(passwordModel)" ng-disabled="!changePasswordForm.$valid">Change</button>
                        <button class="button cancel" ng-click="cancelChangePassword()">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>