<section class="settings-section password">
    <header class="section-header">
        <span class="description">
            <h2>_(modules.settings)</h2>
            <h1>_(password)</h1>
        </span>
        <button class="button" ng-click="editPasswordSettings = true" ng-show="!editPasswordSettings">_(settings.actions.change)</button>
    </header>
    <hr/>
    <div class="container-fluid row">
        <div class="property">
            <form novalidate name="changePasswordForm" ng-if="editPasswordSettings">
                <div class="input-container">
                    <input type="text" name="oldPassword" class="form-input" ng-model="passwordModel.oldPassword" placeholder="_(settings.changePassword.oldPassword)" ng-required="true"/>
                    <div class="error-container" ng-messages="changePasswordForm.oldPassword.$error" ng-show="changePasswordForm.oldPassword.$dirty">
                        <span ng-message="required">_(validation.required)</span>
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" name="newPassword" class="form-input" ng-model="passwordModel.newPassword" placeholder="_(settings.changePassword.newPassword)" hc-not-equal="passwordModel.oldPassword" ng-required="true"/>
                    <div class="error-container" ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.newPassword.$dirty">
                        <span ng-message="required">_(validation.required)</span>
                        <span ng-message="hcNotEqual">_(settings.changePassword.validation.notEqualTo.oldPassword)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="button-group col-xs-12">
                        <button class="button accept" ng-click="changePassword(passwordModel)" ng-disabled="!changePasswordForm.$valid">_(settings.actions.change)</button>
                        <button class="button cancel" ng-click="cancelChangePassword()">_(settings.actions.cancel)</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<div class="splash-container password-overlay" ng-show="showPasswordOverlay">
    <div class="splash"></div>
</div>