<div ng-controller="settingsCtrl" class="row settings">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="header-container">
                    <header class="main-header">My Account</header>
                    <header class="sub-header">You can change your account settings here</header>
                </div>
                <div class="row container-fluid">
                    <div class="main-box">
                        <section class="settings-section contact">
                            <header class="section-header">
                                <div class="description">
                                    <h2>settings</h2>
                                    <h1>Contact</h1>
                                </div>
                                <button class="button" ng-click="editContactSettings =! editContactSettings" ng-class="{active: editContactSettings}">
                                    Edit settings
                                </button>
                            </header>
                            <hr/>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="row">
                                        <div class="property col-xs-6">
                                            <div class="section-label">Name</div>
                                            <div class="section-value" ng-bind="model.personalData.name"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-lg-6">
                                    <div class="property-section container-fluid row">
                                        <div class="property">
                                            <div class="section-label">Phone number</div>
                                            <div class="section-value">888750279</div>
                                        </div>
                                        <div class="property-switcher" ng-show="editContactSettings">
                                            <div class="section-label">Show phone number on profile</div>
                                            <div class="form-checkbox">
                                                <input type="checkbox" id="common-checkbox-show-phone" value="None" ng-model="showNumberOnProfile"/>
                                                <label for="common-checkbox-show-phone"></label>
                                                <span class="checkbox-label"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-10 col-lg-6">
                                    <div class="container-fluid row">
                                        <div class="property-section">
                                            <div class="property">
                                                <div class="section-label">GG number</div>
                                                <div class="section-value">2041651</div>
                                            </div>
                                            <div class="property-switcher" ng-show="editContactSettings">

                                                <div class="section-label">Show GG on profile</div>
                                                <div class="form-checkbox">
                                                    <input type="checkbox" id="common-checkbox-show-gg" value="None" ng-model="showGgOnProfile"/>
                                                    <label for="common-checkbox-show-gg"></label>
                                                    <span class="checkbox-label"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="editContactSettings">
                                <div class="button-group col-xs-12">
                                    <button class="button accept">Change</button>
                                    <button class="button cancel">Cancel</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="main-box">
                            <section class="settings-section email">
                                <header class="section-header">
                                    <span class="description">
                                        <h2>settings</h2>
                                        <h1>Email</h1>
                                    </span>
                                    <button class="button" ng-click="showChangeEmailForm =! showChangeEmailForm">Change</button>
                                </header>
                                <hr/>
                                <div class="container-fluid row">
                                    <div class="property">
                                        <div ng-show="!showChangeEmailForm">
                                            <div class="section-label">Email address</div>
                                            <div class="section-value" ng-bind="model.personalData.email"></div>
                                        </div>
                                        <form novalidate name="changeEmailForm" ng-if="showChangeEmailForm">
                                            <div class="input-container">
                                                <input type="text" name="oldEmail" class="form-input" ng-model="emailModel.oldEmail" placeholder="OLD EMAIL" ng-required="true" hc-validation-pattern="EMAIL"/>
                                                <div class="error-container" ng-messages="changeEmailForm.oldEmail.$error" ng-show="changeEmailForm.oldEmail.$dirty">
                                                    <span ng-message="hcValidationPattern.EMAIL">Bad email format</span>
                                                    <span ng-message="required">Fill in the field.</span>
                                                </div>
                                            </div>
                                            <div class="input-container">
                                                <input type="text" name="newEmail" class="form-input" ng-model="emailModel.newEmail" placeholder="NEW EMAIL" ng-required="true" hc-validation-pattern="EMAIL"/>
                                                <div class="error-container" ng-messages="changeEmailForm.newEmail.$error" ng-show="changeEmailForm.newEmail.$dirty">
                                                    <span ng-message="hcValidationPattern.EMAIL">Bad email format</span>
                                                    <span ng-message="required">Fill in the field.</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="button-group col-xs-12">
                                                    <button class="button accept">Change</button>
                                                    <button class="button cancel">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="main-box">
                            <section class="settings-section password">
                                <header class="section-header">
                                    <span class="description">
                                        <h2>settings</h2>
                                        <h1>Password</h1>
                                    </span>
                                    <button class="button" ng-click="startChangePassword()">Change</button>
                                </header>
                                <hr/>
                                <div class="container-fluid row">
                                    <div class="property">


                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="additional-box col-xs-12 col-md-4">
                <div class="avatar-box">
                    <section class="settings-section contact">
                        <header class="section-header">
                            <span class="description">
                                <h2>settings</h2>
                                <h1>Avatar</h1>
                            </span>

                            <button class="button" ng-click="editAvatar =! editAvatar" ng-class="{active: editAvatar}">
                                Change avatar
                            </button>

                        </header>
                        <hr/>
                        <div class="container-fluid row">
                            <div class="col-xs-12 current-avatar" ng-class="{'col-xs-6': editAvatar}">
                                <div class="avatar-header" ng-show="editAvatar">Current avatar</div>
                                <img class="avatar-img" ng-src="{{model.personalData.avatar}}">
                                <div class="avatar-label" ng-bind="model.personalData.name"></div>
                            </div>
                            <div class="col-xs-6" ng-show="editAvatar">
                                <div class="avatar-header" ng-show="loadedImg">New avatar</div>
                                <div class="crop-area" ng-show="loadedImg">
                                    <img-crop image="loadedImg" result-image="croppedImg"
                                               area-type="circle" ngf-accept="'image/*'"
                                               result-image-size="450" class="image-preview">
                                    </img-crop>
                                </div>

                                <div class="drop-box drop-box-container" ng-show="!loadedImg" ngf-drag-over-class="drop-box-dragover" ngf-change="readFileImg($files)" ngf-drop="" ngf-select="" ng-model="files" ngf-multiple="false" ngf-allow-dir="false" accept="image/*">
                                    <div class="drop-box-label">Drop image or click to upload avatar</div>
                                </div>
                            </div>
                        </div>
                        <div class="row button-group" ng-show="editAvatar">
                            <button class="button accept" ng-click="uploadAvatar()">Change avatar</button>
                            <button class="button cancel" ng-click="cancelUploadAvatar()">Cancel</button>
                        </div>
                    </section>
                </div>
                <div class="about-box">

                </div>
            </div>

        </div>
    </div>
	<!--Users to accept
    <div ng-repeat="user in model.usersToAccept">
        user: <span ng-bind="user"></span>
        <span><button class="btn" ng-click="acceptUser(user)">Accept</button></span>
        <span><button class="btn" ng-click="rejectUser(user)">Reject</button></span>
    </div>

    <div>
        numer gg <input type="text" ng-model="settingsModel.ggNumber"/>
    </div>
    <div>
        Pokazuj adres email <input type="checkbox" ng-model="settingsModel.showEmail"/>
    </div>
    <div>
        numer telefonu <input type="number" ng-model="settingsModel.phoneNumber"/>
    </div>
    <div>
        <button class="btn" ng-click="showChangePasswordForm=!showChangePasswordForm">zmien hasło</button>
        <div ng-show="showChangePasswordForm">
            stare haslo <input type="text" ng-model="changePasswordForm.oldPassword"/>
            nowe haslo <input type="text" ng-model="changePasswordForm.newPassword"/>
            powtorz nowe haslo <input type="text" ng-model="changePasswordForm.repeatedNewPassword"/>
            <button class="btn" ng-click="changePassword(changePasswordForm)">wyslij</button>
        </div>
    </div>
    <div>
        <button class="btn" ng-click="showChangeEmailForm=!showChangeEmailForm">zmien email</button>
        <div ng-show="showChangeEmailForm">
            stary email <input type="text" ng-model="changeEmailForm.oldEmail"/>
            nowy email <input type="text" ng-model="changeEmailForm.newEmail"/>
            powtorz nowy email <input type="text" ng-model="changeEmailForm.repeatedEmail"/>
            <button class="btn" ng-click="changeEmail(changeEmailForm)">wyslij</button>
        </div>
    </div>
    <div>
        informuj poprzez email o nadchodzacych tytanach <input type="checkbox" ng-model="settingsModel.sendTitanReminder"/>
    </div>-->


</div>
