<div ng-controller="settingsCtrl" class="row settings">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <header class="main-header">My Account</header>
                <header class="sub-header">You can change your account settings here</header>
                <div class="row container-fluid">
                    <div class="main-box">
                        <section class="settings-section contact">
                            <header class="section-header row">
                                <div class="col-xs-8">
                                    <h2>settings</h2>
                                    <h1>Contact</h1>
                                </div>
                                <div class="col-xs-4">
                                    <button class="button" ng-click="editContactSettings =! editContactSettings" ng-class="{active: editContactSettings}">
                                        Edit settings
                                    </button>
                                </div>
                            </header>
                            <hr/>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="row">
                                        <div class="property col-xs-6">
                                            <div class="section-label">Name</div>
                                            <div class="section-value" ng-bind="model.personalData.name"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="row">
                                        <div class="property col-xs-6">
                                            <div class="section-label">Phone number</div>
                                            <div class="section-value">888750279</div>
                                        </div>
                                        <div class="property-switcher col-xs-6" ng-show="editContactSettings">
                                            <div class="section-label">Show phone number on profile</div>
                                            <div class="form-checkbox">
                                                <input type="checkbox" id="common-checkbox-show-phone" value="None" ng-model="onlyWithKnownTime"/>
                                                <label for="common-checkbox-show-phone"></label>
                                                <span class="checkbox-label"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="row">
                                        <div class="property col-xs-6">
                                            <div class="section-label">GG number</div>
                                            <div class="section-value">2041651</div>
                                        </div>
                                        <div class="property-switcher col-xs-6" ng-show="editContactSettings">

                                            <div class="section-label">Show GG on profile</div>
                                            <div class="form-checkbox">
                                                <input type="checkbox" id="common-checkbox-show-gg" value="None" ng-model="onlyWithKnownTime"/>
                                                <label for="common-checkbox-show-gg"></label>
                                                <span class="checkbox-label"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="editContactSettings">
                                <div class="button-group col-xs-12">
                                    <button class="button accept">Change</button>
                                    <button class="button cancel">Cancel</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="main-box">
                            <section class="settings-section email">
                                <header class="section-header row">
                                    <div class="col-xs-8">
                                        <h2>settings</h2>
                                        <h1>Email</h1>
                                    </div>
                                </header>
                                <hr/>
                                <div class="row">
                                    <div class="property col-xs-6">
                                        <div class="section-label">Email address</div>
                                        <div class="section-value" ng-bind="model.personalData.email"></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="button">Change email</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="main-box">
                            <section class="settings-section password">
                                <header class="section-header row">
                                    <div class="col-xs-8">
                                        <h2>settings</h2>
                                        <h1>Password</h1>
                                    </div>
                                </header>
                                <hr/>
                                <div class="row">
                                    <div class="property">
                                        <div class="section-label"> address</div>
                                        <div class="section-value" ng-bind="model.personalData.email"></div>

                                    </div>
                                    <div class="col-xs-6">
                                        <button class="button">Change email</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="additional-box col-xs-12 col-md-4">
                <div class="avatar-box">
                    <img-crop ng-show="loadedImg" image="loadedImg" result-image="croppedImg"
                               area-type="circle" ngf-accept="'image/*'"
                               result-image-size="250"
                               class="drop-box-container" ng-cloak>
                    </img-crop>

                    <div class="drop-box drop-box-container" ngf-drag-over-class="drop-box-dragover" ngf-change="readFileImg($files)" ngf-drop="" ngf-select="" ng-model="files" ngf-multiple="false" ngf-allow-dir="false" accept="image/*" ng-cloak="">
                        <span>Drop image or click to upload avatar</span>
                    </div>
                    <div><img ng-src="{{croppedImg}}"/></div>
                    <div class="current-avatar" ng-cloak="" >
                         <img class="avatar-img" ng-src="{{model.personalData.avatar}}">
                    </div>
                    <button class="btn" ng-click="uploadAvatar()">Accept avatar</button>
                </div>
                <div class="about-box">

                </div>
            </div>

        </div>
    </div>
	<!--Users to accept
    <div ng-repeat="user in model.usersToAccept">
        user: <span ng-bind="user"></span>
        <span><button class="btn" ng-click="acceptUser(user)">Accept</button></span>
        <span><button class="btn" ng-click="rejectUser(user)">Reject</button></span>
    </div>

    <div>
        numer gg <input type="text" ng-model="settingsModel.ggNumber"/>
    </div>
    <div>
        Pokazuj adres email <input type="checkbox" ng-model="settingsModel.showEmail"/>
    </div>
    <div>
        numer telefonu <input type="number" ng-model="settingsModel.phoneNumber"/>
    </div>
    <div>
        <button class="btn" ng-click="showChangePasswordForm=!showChangePasswordForm">zmien hasło</button>
        <div ng-show="showChangePasswordForm">
            stare haslo <input type="text" ng-model="changePasswordForm.oldPassword"/>
            nowe haslo <input type="text" ng-model="changePasswordForm.newPassword"/>
            powtorz nowe haslo <input type="text" ng-model="changePasswordForm.repeatedNewPassword"/>
            <button class="btn" ng-click="changePassword(changePasswordForm)">wyslij</button>
        </div>
    </div>
    <div>
        <button class="btn" ng-click="showChangeEmailForm=!showChangeEmailForm">zmien email</button>
        <div ng-show="showChangeEmailForm">
            stary email <input type="text" ng-model="changeEmailForm.oldEmail"/>
            nowy email <input type="text" ng-model="changeEmailForm.newEmail"/>
            powtorz nowy email <input type="text" ng-model="changeEmailForm.repeatedEmail"/>
            <button class="btn" ng-click="changeEmail(changeEmailForm)">wyslij</button>
        </div>
    </div>
    <div>
        informuj poprzez email o nadchodzacych tytanach <input type="checkbox" ng-model="settingsModel.sendTitanReminder"/>
    </div>-->


</div>
